{% extends 'product/base.html' %}

<title>{% block title %}Блог | eLectronic{% endblock %}</title>
{% block content %}
    <div class="col">
        <h1>{{ blogpost.title }}</h1>
        {% if blogpost.preview_image %}
        <img src="{{ blogpost.preview_image.url }}" class="img-fluid mb-3" alt="{{ blogpost.title }}">
        {% endif %}
            <p>Текст: {{ blogpost.content }}</p>
            <p>Создано: {{ blogpost.created_at }}</p>
            <p>Просмотров: {{ blogpost.views_count }}</p>
            <p>Опубликовано: {% if blogpost.is_published %}Да{% else %}Нет{% endif %}</p>
            <a href="{% url 'shop:blogpost_update' blogpost.slug %}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'shop:blogpost_delete' blogpost.slug %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'shop:blogpost_list' %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}
{% block product_actions %}
{% endblock %}