{% extends 'product/base.html' %}
{% block nav_link %}
{% endblock %}
{% block content %}
<body>
    <form method="post" enctype="multipart/form-data">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Регистрация</h1>
                    <p class="lead text-body-secondary">Магазин электроники | eLectronic</p>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <button type="submit" class="btn btn-primary my-2">Зарегистрироваться</button>
                    </p>
                </div>
            </div>
        </section>
    </form>
{% endblock %}

